@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-tactic: 'Tactic Sans', sans-serif;

  --color-clr-red-500: #eb0237;
  --color-clr-red-700: #a01131;
  --color-clr-red-800: #701328;
  --color-clr-gray-500: #787878;
  --color-clr-green-500: #43ad28;
  --color-clr-orange-700: #eb6402;
}

@font-face {
  font-family: 'Tactic Sans';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/tactic-sans/TacticSansBoldItalic.woff2') format('woff2');
}
